.template-index {
    @media screen and (min-width: $midwidth){
        margin: -6% 0 0 0;
    }
    >.row-1 {
        >.col-1 {
			@media screen and (min-width: $midwidth){
                float: left;
                width: 58%;
                padding: 55px 4% 0 0;
            }
            .iframe-wrapper {
                position: relative;
                padding: 0 0 56.25% 0;
                box-shadow: 2px 2px 60px rgba(0,0,0,0.4);
                iframe {
                    border: none;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }
        >.col-2.copy {
            font-size: 14px;
            margin: 20px 0 0 0;
			@media screen and (min-width: $midwidth){
                float: left;
                width: 42%;
                margin: 0;
                padding: 0 0 0 4%;
            }
            h2 {
                font-size: 35px;
                font-weight: 500;
                line-height: 1.2;
                text-transform: none;
            }
            p {
                margin: 20px 0 0 15px;
                color: $color__usac-dark-grey;
            }
        }
    }
    >.row-2 {
        text-align: center;
        margin: 20px 0 0 0;
        @media screen and (min-width: $midwidth){
            margin: 8% 0 0 0;
        }
        a {
            text-decoration: none;
            color: $color__usac-button-blue;
            font-size: 14px;
            display: inline-block;
            padding: 10px 60px;
            border-width: 2px;
            border-style: solid;
            border-radius: 900px;

        }
    }
    >.row-3.copy {
        text-align: center;
        font-size: 14px;
        margin: 20px 0 0 0;
        @media screen and (min-width: $midwidth){
            margin: 12% auto 0 auto;
            width: 50%;
        }
        h2 {
            font-size: 35px;
            font-weight: 500;
            line-height: 1.2;
            text-transform: none;
        }
        p {
            color: $color__usac-dark-grey;
            margin: 20px 0 0 0;
        }

    }
    >.row-4 {
        margin: 20px 0 0 0;
        @media screen and (min-width: $midwidth){
            margin: 8% auto 0 auto;
            width: 80%;
        }
        .service {
            border-bottom: 1px solid $color__usac-light-grey;
            padding: 10px;
            @media screen and (min-width: $midwidth){
                padding: 3% 8% 3% 5%;
            }
            &:last-child {
                border: none;
            }
            >.col-1 {
                float: left;
                width: 20%;
                padding: 20px 0 0 0;
                img {
                    width: auto;
                    display: block;
                }
            }
            >.col-2.copy {
                float: left;
                width: 80%;
                padding: 0 0 0 20px;
                font-size: 14px;
                h1,h2,h3,h4 {
                    font-size: 14px;
                    margin: 0;
                }
                p {
                    margin: 10px 0 0 0;
                }
            }
        }
    }
}
.template-page, .template-sitemap, .error-404 {
    @media screen and (min-width: $midwidth){
        margin: -6% 0 0 0;
    }
    >.row-1 {
        margin: 0 0 5% 0;
        >.col-1 {
            @media screen and (min-width: $midwidth){
                float: left;
                width: 40%;
            }

        }
        >.col-2 {
            @media screen and (min-width: $midwidth){
                float: left;
                width: 60%;
            }
            h1 {
                margin: 0;
                font-size: 35px;
            }
        }
    }
    >.row-2 {
        >aside.col-1 {
            @media screen and (min-width: $midwidth){
                float: left;
                width: 40%;
                padding: 0 10% 0 0;
            }
            .menu {
                ul {
                    margin: 0;
                    padding: 0;
                    li {
                        margin: 10px 0;
                        list-style-type: none;
                        a {
                            text-decoration: none;
                            font-size: 16px;
                            color: $color__text-main;
                            @media screen and (min-width: $midwidth){
                                font-size: 20px;
                            }
                            &:hover {
                                color: $color__usac-light-blue;
                            }
                        }
                        .sub-menu {
                            padding: 0 0 0 20px;
                        }
                    }
                }
            }
            .widget {

            }
        }
        >.col-2 {
            @media screen and (min-width: $midwidth){
                float: left;
                width: 60%;
            }
            .copy {

            }
            .services {
                margin: 20px 0 0 0;
                @media screen and (min-width: $midwidth){
                    margin: 50px 0 0 0;
                }
                >.row-1.row {
                    display: none;
                    margin: 0;
                    @media screen and (min-width: $midwidth){
                        @include flexbox();
                    }
                    .col-1, .col-2 {
                        background-color: $color__usac-pale-blue;
                        padding: 10px;
                    }
                }
                >.row {
                    margin: 20px 0 0 0;
					@include flexbox();
					@include flexbox-justify(flex-start);
					@include flexbox-align-items(stretch);
					@include flexbox-align-content(stretch);
					@include flexbox-direction(column);
					@media screen and (min-width: $midwidth){
                        margin: 40px 0 0 0;
						@include flexbox-justify(space-between);
						@include flexbox-align-items(center);
						@include flexbox-align-content(center);
						@include flexbox-direction(row);
                    }
                    &:nth-child(2){
                        margin: 20px 0 0 0;
                    }
                    >.col-1 {
                        @media screen and (min-width: $midwidth){
                            min-width: 30%;
                            margin-right: 20px;
                        }

                    }
                    >.col-2 {
                        margin: 10px 0 0 0;
                        @media screen and (min-width: $midwidth){
                            @include flexbox-flex(1,1,auto);
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}