.template-index {
    @media screen and (min-width: $midwidth){
        margin: -6% 0 0 0;
    }
    >.row-1 {
        >.col-1 {
			@media screen and (min-width: $midwidth){
                float: left;
                width: 58%;
                padding: 55px 4% 0 0;
            }
            >.wrapper {
                border: 2px solid $color__usac-red;
                padding: 10px;
                .iframe-wrapper {
                    position: relative;
                    padding: 0 0 56.25% 0;
                    box-shadow: 2px 2px 60px rgba(0,0,0,0.4);
                    iframe {
                        border: none;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
            }
        }
        >.col-2 {
            font-size: 14px;
            margin: 20px 0 0 0;
			@media screen and (min-width: $midwidth){
                float: left;
                width: 42%;
                margin: 0;
                padding: 0 0 0 4%;
            }
            >.wrapper.copy {
                padding: 10px;
                border: 2px solid $color__usac-dark-blue;
                h2 {
                    font-size: 35px;
                    font-weight: 500;
                    line-height: 1.2;
                    text-transform: none;
                }
                p {
                    margin: 20px 0 0 15px;
                    color: $color__usac-dark-grey;
                }
            }
        }
    }
    >.row-2 {
        text-align: center;
        margin: 20px 0 0 0;
        @media screen and (min-width: $midwidth){
            margin: 8% 0 0 0;
        }
        a {
            text-decoration: none;
            color: $color__usac-button-blue;
            font-size: 14px;
            display: inline-block;
            padding: 10px 60px;
            border-width: 2px;
            border-style: solid;
            border-radius: 900px;
            &:hover {
                color: white;
                background-color: $color__usac-button-blue;
            }

        }
    }
    >.delivery-methods {
        margin: 20px auto 0 auto;
        @media screen and (min-width: $midwidth){
            margin: 8% auto 0 auto;
        }
        >.wrapper {
            header {
                text-align: center;
                h2 {
                    font-size: 35px;
                    font-weight: 500;
                    line-height: 1.2;
                    margin: 0;
                    text-transform: none;
                }
            }
            >.wrapper {
                padding: 0 0 20px 0;
                @media screen and (min-width: $midwidth){
                    padding: 4% 4% 0 4%;
                }
                .method {
                    background-position: center;
                    background-size: 100%;
                    border-radius: 3px;
                    box-shadow: 0 2px 20px rgba(0,0,0,0.4);
                    margin: 20px 0 0 0;
                    @media screen and (min-width: $midwidth){
                        width: calc(50% - 30px);
                        float: left;
                        margin: 15px;
                    }
                    &:hover {
                        background-size: 110% auto;
                        transition: all 0.2s;
                        -webkit-transition: all 0.2s;
                    }
                    a {
                        text-align: center;
                        display: block;
                        padding: 10%;
                        color: white;
                        text-decoration: none;
                        h3 {
                            margin: 0;
                            text-shadow: 2px 2px 2px black;
                        }
                    }
                }
            }
        }
    }
    >.row-3.copy {
        text-align: center;
        font-size: 14px;
        margin: 20px 0 0 0;
        @media screen and (min-width: $midwidth){
            margin: 12% auto 0 auto;
            width: 50%;
        }
        h2 {
            font-size: 35px;
            font-weight: 500;
            line-height: 1.2;
            text-transform: none;
        }
        p {
            color: $color__usac-dark-grey;
            margin: 20px 0 0 0;
        }

    }
    >.row-4 {
        margin: 20px 0 0 0;
        @media screen and (min-width: $midwidth){
            margin: 8% auto 0 auto;
            width: 80%;
        }
        .service {
            border-bottom: 1px solid $color__usac-light-grey;
            padding: 10px;
            @media screen and (min-width: $midwidth){
                padding: 3% 8% 3% 5%;
            }
            &:last-child {
                border: none;
            }
            >.col-1 {
                float: left;
                width: 20%;
                padding: 20px 0 0 0;
                img {
                    width: auto;
                    display: block;
                }
            }
            >.col-2.copy {
                float: left;
                width: 80%;
                padding: 0 0 0 20px;
                font-size: 14px;
                h1,h2,h3,h4 {
                    font-size: 14px;
                    margin: 0;
                }
                p {
                    margin: 10px 0 0 0;
                }
            }
        }
    }
}
.template-page, .template-sitemap, .error-404 {
    @media screen and (min-width: $midwidth){
        margin: -6% 0 0 0;
    }
    >.row-1 {
        margin: 0 0 5% 0;
        >.col-1 {
            @media screen and (min-width: $midwidth){
                float: left;
                width: 40%;
            }

        }
        >.col-2 {
            @media screen and (min-width: $midwidth){
                float: left;
                width: 60%;
            }
            h1 {
                margin: 0;
                font-weight: 500;
                font-size: 35px;
            }
        }
    }
    >.row-2 {
        >aside.col-1 {
            @media screen and (min-width: $midwidth){
                float: left;
                width: 40%;
                padding: 0 10% 0 0;
            }
            .menu-default-container {
                ul {
                    margin: 0;
                    padding: 0;
                    li {
                        margin: 10px 0;
                        list-style-type: none;
                        a {
                            text-decoration: none;
                            font-size: 16px;
                            color: $color__usac-dark-blue;
                            @media screen and (min-width: $midwidth){
                                font-size: 20px;
                            }
                            &:hover {
                                color: $color__text-main;
                            }
                        }
                        .sub-menu {
                            padding: 0 0 0 20px;
                        }
                    }
                }
            }
            .testimonial {
                margin: 20px 0 0 0;
                border-bottom: 1px solid $color__usac-red;
                header {
                    padding: 10px;
                    background-color: $color__usac-red;
                    h2 {
                        margin: 0;
                        color: white;
                        font-size: 16px;
                    }
                }
                .text {
                    padding: 20px;
                    font-size: 16px;
                    .copy {
                        margin: 20px 0 0 0;
                        font-style: italic;
                        i {
                            display: inline;
                        }
                    }
                    .author {
                        margin: 10px 0 0 0;
                    }
                }
            }
            .image {
                margin: 20px 0 0 0;
                display: block;
                width: 100%;
            }
            .widget {

            }
        }
        >.col-2 {
            @media screen and (min-width: $midwidth){
                float: left;
                width: 60%;
            }
            .copy {
                &.services {
                    margin: 0;
                }
            }
            header {
                margin: 20px 0;
                @media screen and (min-width: $midwidth){
                    margin: 10% 0 20px 0;
                }
                h2 {
                    margin: 0;
                    font-size: 35px;
                    line-height: 1.2;
                    font-weight: 500;
                    @media screen and (min-width: $midwidth){
                        text-align: center;
                    }
                }
                h3 {
                    line-height: 1.2;
                    font-size: 12px;
                    font-weight: 500;
                    margin: 0;
                    font-style: italic;
                    @media screen and (min-width: $midwidth){
                        text-align: center;
                    }
                }
            }
            .services {
                margin: 20px 0 0 0;
                @media screen and (min-width: $midwidth){
                    margin: 50px 0 0 0;
                }
                >.row-1.row {
                    display: none;
                    margin: 0;
                    @media screen and (min-width: $midwidth){
                        @include flexbox();
                    }
                    .col-1, .col-2 {
                        background-color: $color__usac-pale-blue;
                        padding: 10px;
                    }
                }
                >.row {
                    margin: 20px 0 0 0;
					@include flexbox();
					@include flexbox-justify(flex-start);
					@include flexbox-align-items(stretch);
					@include flexbox-align-content(stretch);
					@include flexbox-direction(column);
					@media screen and (min-width: $midwidth){
                        margin: 40px 0 0 0;
						@include flexbox-justify(space-between);
						@include flexbox-align-items(center);
						@include flexbox-align-content(center);
						@include flexbox-direction(row);
                    }
                    &:nth-child(2){
                        margin: 20px 0 0 0;
                    }
                    >.col-1 {
                        @media screen and (min-width: $midwidth){
                            min-width: 30%;
                            margin-right: 20px;
                        }

                    }
                    >.col-2 {
                        margin: 10px 0 0 0;
                        @media screen and (min-width: $midwidth){
                            @include flexbox-flex(1,1,auto);
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}