.template-index {
    >.row-1 {
        border-width: 3px;
        border-style: solid;
        border-image:
            linear-gradient(90deg, $color__usac-dark-blue, $color__usac-light-blue) 3 round;
        >.col-1 {
            iframe {

            }
        }
        >.col-2.copy {

        }
    }
    >.row-2 {
        a {

        }
    }
    >.row-3.copy {

    }
    >.row-4 {
        .service {
            >.col-1 {
                img {

                }
            }
            >.col-2.copy {

            }
        }
    }
}
.template-page, .template-sitemap, .error-404 {
    >.col-1 {

    }
    >.col-2 {
        .copy {

        }
        .services {
            >.row-1 {

            }
            >.row {
                >.col-1 {

                }
                >.col-2 {

                }
            }
        }
    }
}