$color__background-body: white;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: black;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__usac-light-blue: #00e4f7;
$color__usac-dark-blue: #11269b;
$color__usac-button-blue: #1c71ab;
$color__usac-icon-blue: #4a90e2;
$color__usac-text: #677897;
$color__usac-yellow: yellow;
$color__usac-grey: grey;
$color__usac-light-grey: lightgrey;
$color__usac-dark-grey: #404d66;
$color__usac-red: #e74c3c;
$color__usac-pale-blue: #f6f9fd;